.tanzu-logo {
  background-image: url("tanzu.ico");
  height: 30px;
  width: 30px;
}

body p:not([cds-text]) {
  margin-top: var(--cds-global-space-3);
}

.card-block .card-divider, .card .card-title, .card .card-text, .card .card-media-block, .card .list, .card .list-unstyled {
  margin-top: 0;
  margin-bottom: var(--cds-global-space-1);
}

hr {
  border-width: 0.5px;
}

.left-msg {

}

.right-msg {
  justify-content: flex-end;
}